body{
    width: 100%;
    margin: 0px;
    padding: 0;
}
.col-3{
    border: 1px solid gray;
     height: 97vh;
    /* margin: 0px;
    padding: 0px; */
}
/* .parent{
    border: 1px solid black;
} */
.col-9{
    border: 1px solid gray;
    /* margin: 10px; */
    padding-right: 20px;
}
h6{
    color: wheat;
}
/* li,a{
    border: 1px solid grey;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 10px 20px 10px 20px;
} */
.nav-link{
    border: 1px solid grey;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 10px 20px 10px 20px;
}
h4,h1{
    color: black;
    text-align: left;
}
.container{
    margin: 0px;
    padding: auto;
}
.cards{
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 15px;
    gap: 20px;

   
}
.card{
     box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}
.tabb{
    border: 1px solid grey;
    min-width: 50%;
    margin-top: 10px;
    height: 40vh;

}
.card1{
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    padding: 10px 0px 10px 15px;
    margin: 10px;
    width: 100%;
    justify-content: center;
}
.tab2{
    
    height: 40vh;
}
select{
    width: 100%;
}
.tabs{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 0px 10px 15px;
}
.low{
    min-width: 100%;
    justify-content: space-between;
  
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}