.form{
    width: 70%;
    margin: 20px 0px 20px 200px;
    padding: 30px;
    border:1px solid grey;
    border-radius: 2px;
    font-size: 15px;
    height: 60%;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.card{
    width: 70%;
    margin: 20px 0px 20px 200px;
    padding: 20px;
    border:1px solid grey;
    border-radius: 2px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
} 
.box{
    display:flex;
    width: 70%;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
     margin: 20px 200px 20px 200px;
     padding: 0pxpx;
     gap:10px;
}
.page{
    width: 100%;
    border:1px solid grey;
    margin: 10px;
    /* box-shadow: 10px rgba(0, 0, white 0.3 ); */
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
   
}
textarea,input[type],
input[textarea], select
{
    height: 30px;
    font-size: 13px;
     background-color: rgb(230, 220, 220);
}
h3,h5{
    text-align: center;
}
.button{
    justify-content: space-between;
}
label{
   font-weight: 500;
   font-size: 15px;
}
.card1{
   
  text-align: center;
    margin: 20px;
    padding: 20px;
    border:1px solid grey;
    border-radius: 2px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
thead{
    font-size: 15px;
}
form {
    margin: 200px 200px;
    padding: 40px;
    border: 1px, solid, rgb(184, 181, 181);
    border-radius: 10px;
    width: 760px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    height: 50%;
    
}
.customer {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
/* .item {
    display: grid;
    grid-template-columns: 2fr;

    
} */
 h2,h3{
    text-align: center;
 }
 .float{
    float: right;
 }

/* .container {
    background-color: rgb(236, 236, 236);
}  */

label {
    font-family: Arial;
    font-size: 16px;
    margin-bottom: 10px;
}

input::select{
    margin:10px;
   
}
.input{
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);

}
nav{
    height: 10vh;
}
